.movies-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
  margin-top: 80px;
  justify-content: center;
}

.movies-card-list__more-btn {
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(232, 232, 232, 1);
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 63px;
  margin-bottom: 65px;
  min-width: 240px;
  padding-top: 9px;
  padding-bottom: 11px;
  cursor: pointer;
}

.is-invisible {
  visibility: hidden;
}

.more-button__container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 79px;
  }

  .movies-card-list__more-btn {
    margin-top: 51px;
    padding-bottom: 8px;
    margin-bottom: 102px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    margin-top: 51px;
    row-gap: 14px;
  }

  .movies-card-list__more-btn {
    margin-top: 65px;
    margin-bottom: 122px;
  }
}

